body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color:
    #435a5a;
  padding: 0%;
  overflow-x: hidden;
  padding-left: 1%;
  padding-right: 1%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0px;
  padding: 10px;
  height: 100%;
  padding-left: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 20px;
}

.desktop-nav h1 {
  padding-top: 5px;
}

.desktop-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.desktop-menu a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.desktop-menu li {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform .5s;
  transform: skewX(0);
  transform-origin: right;

}

.desktop-menu li:hover {
  color: #dd6b4b;
  width: (2, 2);
}

.desktop-menu li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.add {
  text-align: center;
  color: #CBE4DE;
  font-size: 20px;
  font-weight: bold;
  animation-name: addmover;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  margin-top: 0px;
  overflow-x: hidden;
}

@keyframes addmover {
  0% {
    left: -100%;
    right: 100%;
  }

  100% {
    right: 100%;
    left: 100%;
  }
}

.logo {
  transition: transform width;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  transition-duration: 0.3s;
  filter: invert(48%) sepia(3%) saturate(3207%) hue-rotate(13deg) brightness(9%) contrast(80%);
  animation-name: colrchange;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo:hover {
  transform: rotateX(180deg);
  transform: rotateY(-150deg);
}

@keyframes colrchange {
  0% {
    filter: brightness(10%)
  }

  25% {
    filter: brightness(25%)
  }

  50% {
    filter: brightness(10%)
  }

  75% {
    filter: brightness(38%)
  }

  100% {
    filter: brightness(15%)
  }
}

.secHead {
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
  font-weight: bolder;
  font-family: Arial;
  font-size: 30px;
  animation-name: textcolor;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes textcolor {
  0% {
    color: #F8F5E4;
  }

  25% {
    color: #089962
  }

  50% {
    color: #141412
  }

  75% {
    color: #84e00b
  }

  100% {
    color: #552626
  }
}

.timing {
  text-align: center;
  margin-top: 3%;
  font-weight: bold;
  font-family: 'Times New Roman';
  color: #CBE4DE;
}

.text-center {
  text-align: center;
  background-attachment: fixed;
  display: inline-block;
  background-color: brown;
  color: #CBE4DE;
  border-radius: 10px;
  height: 30px;
  margin-left: 46%;
  margin-top: 0%;
  transition: transform;
  transition-duration: 0.5;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.text-center:hover {
  background-image: linear-gradient(to right, #d8370f, #c9af1b, #b38812, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(185, 118, 41, 0.75);
  transform: scale(80px);
}

.randimg {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

.randimg:hover {
  transform: scale(1.1);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  overflow: hidden;
  border-radius: 40px;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.column:hover {
  transform: skewX(34px);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.ftdiv {
  width: 33%;
  float: left;
  padding: 10px;
  border: 2px solid brown;
}

footer {
  background-color: #2C3333;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h4 {
  margin-bottom: 20px;
}

.address p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.address p i {
  margin-right: 10px;
  font-size: 20px;
}

.open-timings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.open-timings li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.open-timings li span {
  margin-right: 10px;
  font-weight: bold;
}

.open-timings li:hover {
  background-color: #eee;
}

.open-timings li:hover span {
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
}

/*  */

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: 30%;
  margin-bottom: 30px;
}

.footer-col h3 {
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
}

.social-links a {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 18px;
}

.fa-facebook-f {
  background-color: #3b5998;
  padding: 8px;
  border-radius: 50%;
}

.fa-twitter {
  background-color: #55acee;
  padding: 8px;
  border-radius: 50%;
}

.fa-instagram {
  background-color: #3f729b;
  padding: 8px;
  border-radius: 50%;
}

.fa-linkedin-in {
  background-color: #0077b5;
  padding: 8px;
  border-radius: 50%;
}
#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
}

#video-container video {
  width: 60%;
  height: 10%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: scale-up 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}